src/tmp/flows(6).json
[{"id":"01a006cde824157e","type":"ui-button-group","z":"610c3428ea141521","name":"Pompa Tekanan","group":"5eab99af7aee8c70","order":2,"width":"3","height":"1","label":"Tekanan","rounded":false,"useThemeColors":false,"passthru":false,"options":[{"label":"ON","icon":"mdi-pump","value":"0","valueType":"num","color":"#57e389"},{"label":"OFF","icon":"mdi-pump-off","value":"1","valueType":"num","color":"#ed333b"}],"topic":"/val","topicType":"msg","x":560,"y":440,"wires":[["4fa930c2d28641e5"]]},{"id":"1051262059f41b5b","type":"ui-form","z":"610c3428ea141521","name":"","group":"5eab99af7aee8c70","label":"","order":1,"width":"3","height":"1","options":[{"label":"berapa liter","key":"liter","type":"number","required":true,"rows":null}],"formValue":{"liter":""},"payload":"","submit":"siram","cancel":"batal","resetOnSubmit":true,"topic":"payload","topicType":"msg","splitLayout":true,"className":"","passthru":false,"dropdownOptions":[],"x":530,"y":600,"wires":[["6ea988543ecd28c8"]]},{"id":"61b792fb31d22826","type":"mqtt out","z":"610c3428ea141521","name":"","topic":"/siram/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41efd3255b6d990a","x":900,"y":600,"wires":[]},{"id":"7a1827913f847d3a","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/air/nutrisi","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":260,"wires":[["2703bc119b2db1b4"]]},{"id":"deaa58df9981e7ce","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/air/utama","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":200,"wires":[["673f23e8694cd030"]]},{"id":"19c828e87023778f","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/siram/kecepatan","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":320,"wires":[["c91d6415baafa2a8"]]},{"id":"c91d6415baafa2a8","type":"ui-gauge","z":"610c3428ea141521","name":"Kecepatan Air","group":"4aa5749fb54e2c0b","order":1,"width":"0","height":"0","gtype":"gauge-34","gstyle":"rounded","title":"Kecepatan Air","units":"liter/menit","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#3584e4"},{"from":"25","color":"#33d17a"},{"from":"50","color":"#f6d32d"},{"from":"75","color":"#ff7800"},{"from":"100","color":"#e01b24"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":".center-align {     display: flex;     justify-content: center;     align-items: center;     height: 100%; }","x":800,"y":320,"wires":[]},{"id":"2703bc119b2db1b4","type":"ui-gauge","z":"610c3428ea141521","name":"Air Nutrisi","group":"86dbd3d48e485ab8","order":2,"width":"3","height":"6","gtype":"gauge-tank","gstyle":"needle","title":"Air Nutrisi","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#e01b24"},{"from":"25","color":"#ff7800"},{"from":"50","color":"#f6d32d"},{"from":"75","color":"#33d17a"},{"from":"100","color":"#3584e4"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":".center-align {     display: flex;     justify-content: center;     align-items: center;     height: 100%; }","x":800,"y":260,"wires":[]},{"id":"673f23e8694cd030","type":"ui-gauge","z":"610c3428ea141521","name":"Air Utama","group":"86dbd3d48e485ab8","order":1,"width":"3","height":"6","gtype":"gauge-tank","gstyle":"needle","title":"Air Utama","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#e01b24"},{"from":"25","color":"#ff7800"},{"from":"50","color":"#f6d32d"},{"from":"75","color":"#33d17a"},{"from":"100","color":"#3584e4"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":800,"y":200,"wires":[]},{"id":"3f403f3140de7095","type":"ui-template","z":"610c3428ea141521","group":"d93fca4f9710e910","page":"","ui":"","name":"Profile Team","order":1,"width":"0","height":"0","head":"","format":"<style>\n  /* Styling umum untuk card */\n  .team-container {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 15px;\n    justify-content: center;\n  }\n  .team-card {\n    background-color: #f5f5f5;\n    border-radius: 5px;\n    width: 140px;\n    padding: 5px;\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n    text-align: center;\n    transition: 0.3s;\n  }\n  .team-card:hover {\n    transform: scale(1.05);\n  }\n  .profile-pic {\n    width: 70px;\n    height: 70px;\n    border-radius: 50%;\n    margin-bottom: 10px;\n  }\n  .name {\n    font-size: 1em;\n    font-weight: bold;\n    margin: 10px 0 5px;\n  }\n  .role {\n    font-size: 0.9em;\n    color: #888;\n    margin-bottom: 10px;\n  }\n</style>\n\n<div class=\"team-container\">\n  <!-- Card untuk setiap anggota tim -->\n  <div class=\"team-card\">\n    <img src=\"/images/mentor.jpg\" alt=\"Profile Picture\" class=\"profile-pic\">\n    <div class=\"name\">Rizky Dermawan</div>\n    <div class=\"role\">Mentor</div>\n  </div>\n  \n  <div class=\"team-card\">\n    <img src=\"/images/Syukrillah.jpg\" alt=\"Profile Picture\" class=\"profile-pic\">\n    <div class=\"name\">Syukrillah</div>\n    <div class=\"role\">Project Manager</div>\n  </div>\n  \n  <div class=\"team-card\">\n    <img src=\"/images/Haris.jpg\" alt=\"Profile Picture\" class=\"profile-pic\">\n    <div class=\"name\">M Haris Ramadhan</div>\n    <div class=\"role\">UI/UX Designer</div>\n  </div>\n\n  <div class=\"team-card\">\n    <img src=\"/images/Rusydan.png\" alt=\"Profile Picture\" class=\"profile-pic\">\n    <div class=\"name\">Rusydan Baniardho</div>\n    <div class=\"role\">Firmware Enginer</div>\n  </div>\n\n  <div class=\"team-card\">\n    <img src=\"/images/Rizki.jpg\" alt=\"Profile Picture\" class=\"profile-pic\">\n    <div class=\"name\">Rizky Fakhrudin</div>\n    <div class=\"role\">Hardware Enginer</div>\n  </div>\n\n  <div class=\"team-card\">\n    <img src=\"/images/Nurfadiyah.jpeg\" alt=\"Profile Picture\" class=\"profile-pic\">\n    <div class=\"name\">Siti Nurfadiyah</div>\n    <div class=\"role\">Software Enginer</div>\n  </div>\n</div>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":450,"y":940,"wires":[[]]},{"id":"d76235e4b1dde272","type":"ui-template","z":"610c3428ea141521","group":"62079acc332467f7","page":"","ui":"","name":"Profile Project","order":1,"width":0,"height":0,"head":"","format":"<style>\n  /* Styling umum untuk card */\n  .project-container {\n    background-color: #ffffff;\n    border-radius: 10px;\n    padding: 20px;\n    max-width: 600px;\n    margin: auto;\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n    font-family: Arial, sans-serif;\n  }\n  .project-title {\n    font-size: 1.8em;\n    font-weight: bold;\n    text-align: center;\n    color: #333;\n    margin-bottom: 10px;\n  }\n  .project-section {\n    margin-bottom: 15px;\n  }\n  .section-title {\n    font-size: 1.2em;\n    font-weight: bold;\n    color: #666;\n    margin-bottom: 8px;\n  }\n  .section-content {\n    font-size: 1em;\n    color: #444;\n    line-height: 1.5;\n  }\n  .team-list {\n    list-style-type: none;\n    padding: 0;\n  }\n  .team-list li {\n    margin-bottom: 5px;\n  }\n  .project-status {\n    background-color: #28a745;\n    color: white;\n    text-align: center;\n    padding: 8px;\n    border-radius: 5px;\n    font-weight: bold;\n  }\n</style>\n\n<div class=\"project-container\">\n  <!-- Judul Proyek -->\n  <div class=\"project-title\">SMAWA (Smart Watering)</div>\n\n  <!-- Ringkasan Proyek -->\n  <div class=\"project-section\">\n    <div class=\"section-title\">Ringkasan</div>\n    <div class=\"section-content\">\n      Proyek ini bertujuan untuk mengembangkan sebuah sistem yang membantu pengguna dalam manajemen penggunaan air yang efisien dalam skala penyiramana\n    </div>\n  </div>\n\n  <div class=\"project-section\">\n    <div class=\"section-title\">Tujuan Proyek</div>\n    <div class=\"section-content\">\n      1. Pengoptimalan penyiraman yang di inginkan pengguna<br>\n      2. Mengembangkan sistem monitoring ketinggian air dalam tangki menggunakan sensor ultrasonik yang terhubung dengan Banana Pi.<br>\n      3. Memungkinkan pengguna untuk memantau ketinggian air secara real-time melalui aplikasi berbasis web.<br>\n      4. Mengurangi pemborosan air dan memberikan kemudahan dalam pengelolaan air.\n    </div>\n  </div>\n\n  <div class=\"project-section\">\n    <div class=\"section-title\">Manfa'at Proyek</div>\n    <div class=\"section-content\">\n      1. Efisiensi Penyiraman Tanaman: Pengguna dapat menentukan berapa liter air yang akan di gunakan untuk penyiraman.<br>\n      2. Efisiensi Pemakaian Air: Pengguna dapat mengetahui secara tepat jumlah air yang tersedia di dalam tangki, sehingga mencegah kelebihan atau kekurangan air.<br>\n      3. Kemudahan Monitoring: Pengguna dapat mengakses data ketinggian air dari mana saja menggunakan perangkat berbasis web.<br>\n      4. Peningkatan Keamanan: Sistem memberikan notifikasi otomatis jika ketinggian air melebihi batas yang telah ditentukan.\n    </div>\n  </div>\n</div>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":980,"wires":[[]]},{"id":"015aaaccb0ed484a","type":"ui-template","z":"610c3428ea141521","group":"","page":"","ui":"31d0035ec66d4f32","name":"Logo","order":1,"width":0,"height":0,"head":"","format":"<style>\n  /* Styling umum untuk container logo */\n  .logo-container {\n    display: flex;\n    flex-wrap: wrap;\n    justify-content: center;\n    gap: 20px;\n    padding: 10px;\n    background-color: #f9f9f9;\n    border-radius: 10px;\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n  }\n  .logo-item {\n    width: 50px;\n    height: auto;\n    transition: transform 0.3s;\n  }\n  .logo-item:hover {\n    transform: scale(1.1);\n  }\n</style>\n\n<div class=\"logo-container\">\n  <img src=\"/images/Kampus Merdeka.png\" class=\"logo-item\">\n  \n  <img src=\"/images/MSIB.png\" class=\"logo-item\">\n  \n  <img src=\"/images/Ozami.png\" class=\"logo-item\">\n\n  <img src=\"/images/Indobot.png\" class=\"logo-item\">\n  \n  <img src=\"/images/SMAWA.png\" class=\"logo-item\">\n</div>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":430,"y":1020,"wires":[[]]},{"id":"751e1bb95d0c1b2c","type":"ui-button-group","z":"610c3428ea141521","name":"Isi Air","group":"5eab99af7aee8c70","order":3,"width":"3","height":"1","label":"Isi Air","rounded":false,"useThemeColors":false,"passthru":true,"options":[{"label":"ON","icon":"mdi-water","value":"0","valueType":"num","color":"#57e389"},{"label":"OFF","icon":"mdi-water-off","value":"1","valueType":"num","color":"#ed333b"}],"topic":"/siram","topicType":"str","x":530,"y":480,"wires":[["191f038538de4828"]]},{"id":"07da7cc4bfc7ce05","type":"ui-notification","z":"610c3428ea141521","ui":"31d0035ec66d4f32","position":"top right","colorDefault":true,"color":"#000000","displayTime":"5","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"Pompa Tekanan","allowConfirm":false,"confirmText":"OK","raw":false,"className":"","name":"Pompa Tekanan","x":800,"y":440,"wires":[[]]},{"id":"027ab1d7ab6070c9","type":"ui-notification","z":"610c3428ea141521","ui":"31d0035ec66d4f32","position":"top right","colorDefault":true,"color":"#000000","displayTime":"5","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"Isi Air","allowConfirm":false,"confirmText":"OK","raw":false,"className":"","name":"Isi Air","x":770,"y":480,"wires":[[]]},{"id":"4fa930c2d28641e5","type":"function","z":"610c3428ea141521","name":"function 1","func":"if (msg.payload === 1) {\n    msg.payload = \"OFF\";\n} else if (msg.payload === 0) {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"Status Tidak Dikenal\";\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[["07da7cc4bfc7ce05","ef94ea39f6fbf946"]]},{"id":"191f038538de4828","type":"function","z":"610c3428ea141521","name":"function 2","func":"if (msg.payload === 1) {\n    msg.payload = \"OFF\";\n} else if (msg.payload === 0) {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"Status Tidak Dikenal\";\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":520,"wires":[["027ab1d7ab6070c9","3fb2eb03b2c862f2"]]},{"id":"8b2c6e7a8785fb7c","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/system/monitoring","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":1060,"wires":[["6c36aba91c735484","6946f0f698334b62","18103f41470f3598","0da4a868cbeee632"]]},{"id":"2bcd3a420c657984","type":"ui-gauge","z":"610c3428ea141521","name":"Load","group":"b4223675841a3812","order":2,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Load","units":"%","icon":"mdi-application-cog","prefix":"","suffix":"","segments":[{"from":"0","color":"#1c71d8"},{"from":"25","color":"#2ec27e"},{"from":"50","color":"#f5c211"},{"from":"75","color":"#c64600"},{"from":"100","color":"#a51d2d"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":930,"y":1000,"wires":[]},{"id":"6c36aba91c735484","type":"change","z":"610c3428ea141521","name":"payload.cpu","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cpu","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1000,"wires":[["2bcd3a420c657984"]]},{"id":"0da4a868cbeee632","type":"change","z":"610c3428ea141521","name":"payload.temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1040,"wires":[["9e2910086a16924f"]]},{"id":"18103f41470f3598","type":"change","z":"610c3428ea141521","name":"payload.disk","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.disk","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1080,"wires":[["62a3476ab7b76733"]]},{"id":"6946f0f698334b62","type":"change","z":"610c3428ea141521","name":"payload.ram","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ram","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1120,"wires":[["4965f0a95583a7ed"]]},{"id":"9e2910086a16924f","type":"ui-gauge","z":"610c3428ea141521","name":"Temperatur","group":"b4223675841a3812","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Temperatur","units":"°C","icon":"mdi-cpu-32-bit","prefix":"","suffix":"","segments":[{"from":"0","color":"#1c71d8"},{"from":"25","color":"#2ec27e"},{"from":"50","color":"#f5c211"},{"from":"75","color":"#c64600"},{"from":"100","color":"#a51d2d"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":950,"y":1040,"wires":[]},{"id":"62a3476ab7b76733","type":"ui-gauge","z":"610c3428ea141521","name":"Disk","group":"ba93c36086e40381","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Disk","units":"%","icon":"mdi-harddisk","prefix":"","suffix":"","segments":[{"from":"0","color":"#1c71d8"},{"from":"25","color":"#2ec27e"},{"from":"50","color":"#f5c211"},{"from":"75","color":"#c64600"},{"from":"100","color":"#a51d2d"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":930,"y":1080,"wires":[]},{"id":"4965f0a95583a7ed","type":"ui-gauge","z":"610c3428ea141521","name":"RAM","group":"ba93c36086e40381","order":2,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"RAM","units":"MB","icon":"mdi-memory","prefix":"","suffix":"","segments":[{"from":"0","color":"#1c71d8"},{"from":"250","color":"#2ec27e"},{"from":"500","color":"#f5c211"},{"from":"750","color":"#c64600"},{"from":"1000","color":"#a51d2d"}],"min":0,"max":"1000","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":930,"y":1120,"wires":[]},{"id":"6ea988543ecd28c8","type":"change","z":"610c3428ea141521","name":"payload.liter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.liter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":600,"wires":[["61b792fb31d22826","f240b9028c1b736b"]]},{"id":"23e01430f4f396ca","type":"ui-notification","z":"610c3428ea141521","ui":"31d0035ec66d4f32","position":"top right","colorDefault":true,"color":"#000000","displayTime":"5","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"OK","allowConfirm":false,"confirmText":"OK","raw":false,"className":"","name":"Menyiram","x":980,"y":660,"wires":[[]]},{"id":"be7042d5c77b7bbf","type":"ui-text","z":"610c3428ea141521","group":"4aa5749fb54e2c0b","order":3,"width":0,"height":0,"name":"","label":"Total tersiram","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#717171","className":"","x":640,"y":680,"wires":[]},{"id":"a56834af8d642054","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/siram/total","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":680,"wires":[["be7042d5c77b7bbf"]]},{"id":"3e747758fc0318b3","type":"ui-text","z":"610c3428ea141521","group":"4aa5749fb54e2c0b","order":2,"width":"0","height":"0","name":"","label":"Target Penyiraman","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#717171","className":"","x":650,"y":740,"wires":[]},{"id":"6a3130d6107998eb","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/siram/target","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":740,"wires":[["3e747758fc0318b3"]]},{"id":"ef94ea39f6fbf946","type":"mqtt out","z":"610c3428ea141521","name":"","topic":"/relay/1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41efd3255b6d990a","x":920,"y":380,"wires":[]},{"id":"3fb2eb03b2c862f2","type":"mqtt out","z":"610c3428ea141521","name":"","topic":"/relay/2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41efd3255b6d990a","x":920,"y":520,"wires":[]},{"id":"58e8e4f363edee60","type":"ui-gauge","z":"610c3428ea141521","name":"","group":"4aa5749fb54e2c0b","order":4,"width":"1","height":"1","gtype":"gauge-tile","gstyle":"needle","title":"status","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"1","color":"#add6f3"},{"from":"0","color":"#1a5fb4"}],"min":0,"max":"1","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":610,"y":800,"wires":[]},{"id":"c3e941465ba8e560","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/siram/status","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":800,"wires":[["58e8e4f363edee60"]]},{"id":"35b8c591d5d44076","type":"mqtt in","z":"610c3428ea141521","name":"","topic":"/siram/finish","qos":"2","datatype":"auto-detect","broker":"41efd3255b6d990a","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":860,"wires":[["fe155f1f809618d7"]]},{"id":"fe155f1f809618d7","type":"ui-notification","z":"610c3428ea141521","ui":"31d0035ec66d4f32","position":"top right","colorDefault":true,"color":"#000000","displayTime":"5","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"OK","allowConfirm":false,"confirmText":"Confirm","raw":false,"className":"","name":"","x":660,"y":860,"wires":[[]]},{"id":"f240b9028c1b736b","type":"function","z":"610c3428ea141521","name":"function 3","func":"msg.payload = \"Menyiram: \" + msg.payload + \" liter\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":660,"wires":[["23e01430f4f396ca"]]},{"id":"ca6f2e63a1562c54","type":"ui-button","z":"610c3428ea141521","group":"4aa5749fb54e2c0b","name":"","label":"Hentikan penyiraman","order":5,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":820,"y":800,"wires":[["deb7160a96dfd660","466b9a950c775902"]]},{"id":"ccc43e48a042d719","type":"ui-notification","z":"610c3428ea141521","ui":"31d0035ec66d4f32","position":"top right","colorDefault":true,"color":"#000000","displayTime":"5","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"OK","allowConfirm":false,"confirmText":"OK","raw":false,"className":"","name":"Menyiram","x":880,"y":920,"wires":[[]]},{"id":"deb7160a96dfd660","type":"function","z":"610c3428ea141521","name":"function 4","func":"msg.payload = \"Penyiraman di hentikan\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":860,"wires":[["ccc43e48a042d719"]]},{"id":"466b9a950c775902","type":"mqtt out","z":"610c3428ea141521","name":"","topic":"/siram/off","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41efd3255b6d990a","x":880,"y":740,"wires":[]},{"id":"5eab99af7aee8c70","type":"ui-group","name":"Kendali","page":"4efc764a53f2e6a5","width":"3","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"41efd3255b6d990a","type":"mqtt-broker","name":"testing","broker":"192.168.12.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4aa5749fb54e2c0b","type":"ui-group","name":"Penyiraman","page":"4efc764a53f2e6a5","width":"3","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"86dbd3d48e485ab8","type":"ui-group","name":"Air","page":"4efc764a53f2e6a5","width":"6","height":"1","order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"d93fca4f9710e910","type":"ui-group","name":"Profile Team","page":"5745676ae27f5759","width":"4","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"62079acc332467f7","type":"ui-group","name":"About Project","page":"5745676ae27f5759","width":"4","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"31d0035ec66d4f32","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":false,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"b4223675841a3812","type":"ui-group","name":"CPU","page":"f2186a2abda0d4b2","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ba93c36086e40381","type":"ui-group","name":"Lainnya","page":"f2186a2abda0d4b2","width":"6","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"4efc764a53f2e6a5","type":"ui-page","name":"Dashboard","ui":"31d0035ec66d4f32","path":"/home","icon":"home","layout":"tabs","theme":"542f8e60279e0cfa","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"5745676ae27f5759","type":"ui-page","name":"About","ui":"31d0035ec66d4f32","path":"/about","icon":"mdi-account-group","layout":"tabs","theme":"bb0a73a48952f272","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":"true","disabled":"false"},{"id":"f2186a2abda0d4b2","type":"ui-page","name":"Sistem","ui":"31d0035ec66d4f32","path":"/sistem","icon":"mdi-devices","layout":"grid","theme":"bb0a73a48952f272","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"542f8e60279e0cfa","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"bb0a73a48952f272","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]